<%= form_for(@listing, :html => {:class=>"form-inline"})  do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :address, placeholder:"Address" %>
    <%= f.number_field :bedrooms, placeholder:"Number of Bedrooms" %>
    <%= f.number_field :price, placeholder:"Price" %>
  
    <%= f.submit "Analyze!", class: "btn btn-danger" %>
<% end %>
