
  <div class="well well-small span6" id= <%="listing" + listing.id.to_s %>>
    <h5>
      <% if search_location.present? %>
        Address Restricted <span style="float:right"><%= listing.distance_to([search_location.geometry["location"]["lat"], search_location.geometry["location"]["lng"]]).round(1) %> miles away</span>
      <% else %>
        Address Restricted
      <% end %>
    </h5>
    <p>
      <% if listing.bedrooms == nil or listing.bedrooms == 0 %>
        Studio<br />
      <% else %>
        <%= pluralize listing.bedrooms, 'bedroom' %><br>
      <% end %>
      <% price = listing.price || 0 %>
      <% if median %>
        <% if price < median %>
          <span class='text-success'>$<%= price %> / month</span>
        <% elsif price > median %>
          <span class='text-error'>$<%= price %> / month</span>
        <% else %>
          $<%= price %> / month
        <% end %>
      <% else %>
        $<%= price %> / month
      <% end %>
    </p>

    <p>
      <% if !listing.tags.blank? %>
        <% found_unit_type = false %>
        <% for tag in listing.tags do %>
          <% if tag.category == "unit_type" %>
            <span class="badge badge-inverse"><%= listing.unit_type %></span>
            <% found_unit_type  = true %>
          <% end %>
          <% break if found_unit_type %>
        <% end %>
        <% for tag in listing.tags do %>
          <% if tag.category == "utility" %>
            <span class="badge badge-warning"><%= tag.name %></span>
          <% end %>
        <% end %>
        <% for tag in listing.tags do %>
          <% if tag.category == "amenity" %>
            <span class="badge badge-info"><%= tag.name %></span>
          <% end %>
        <% end %>
      <% else %> 
        <br /> 
      <% end %>
    </p>


    <div class="row-fluid">
      <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
        <div class='well' style="padding:0;margin: 0px 0px 10px 0px;text-align:center; height:100px">
            <h5>Pictures Restricted</h5>
        </div>
      </div>
    </div>

    <% unless listing.listing_detail.description.blank? %>
      <div class="row-fluid">
        <%= link_to 'Show Full Listing', 'javascript:void(0);', class: 'btn span6 offset3 show-full-listing', style: "text-align:center;" %>
      </div>
      <div class="hide full-listing">
        <% if listing.listing_detail.source == "craigslist" %>
          <h4><%= listing.listing_detail.raw_body["heading"] %></h4>
        <% else %>
          <h4>Description:</h4>
        <% end %>
        <%= listing.listing_detail.description %>
      </div>
    <% else %>
      <div class="row-fluid">
        <a class= 'btn span6 offset3 disabled', style="text-align:center;" >No Description</a>
      </div>
    <% end %>
  </div>

<script>
  $(function() {
    $('.show-full-listing').click(function() {
      $(this).closest(".well").find(".full-listing").show('blind')
      $(this).hide()
    })

    /*
       $(".reveal-pic").click(function() {
      $(this).closest("li").css({
        'height': 'auto',
        'max-height': '999px'
      })
      $(this).closest(".read-more").remove()
    })
    */

  })
</script>
