<div class="row-fluid" id="listing<%=listing.id%>">

  <div class="well well-small span12">
    <h4><%= listing.address %></h4>
    <p>
      <% if listing.bedrooms == nil or listing.bedrooms == 0 %>
        Studio<br>
      <% else %>
        <%= pluralize listing.bedrooms, 'bedroom' %><br>
      <% end %>
      <% price = listing.price || 0 %>
      <% if median %>
        <% if price < median %>
          <span class='text-success'>$<%= price %> / month</span>
        <% elsif price > median %>
          <span class='text-error'>$<%= price %> / month</span>
        <% else %>
          $<%= price %> / month
        <% end %>
      <% else %>
        $<%= price %> / month
      <% end %>
    </p>

    <p>
      <% for tag in listing.tags do %>
        <span class="badge badge-info"><%= tag.name %></span>
      <% end %>
    </p>

    <% if listing.pictures.present? %>
      <div class='row-fluid pictures'>
        <ul class='thumbnails'>
          <% listing.pictures.each_with_index do |picture, index| %>
            <% if index != 0 and index % 6 == 0 %>
              </ul><ul class='thumbnails'>
            <% end %>
            <li class='span2'>
              <%= image_tag picture, onerror: 'imgerror(this);' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row-fluid">
      <%= link_to 'Show Full Listing', 'javascript:void(0);', class: 'btn span12 show-full-listing', style: "text-align:center;" %>
    </div>
    <div class="hide full-listing">
      <% if listing.listing_detail.source == "craigslist" %>
        <h4><%= listing.listing_detail.raw_body["heading"] %></h4>
      <% else %>
        <h4>Description:</h4>
      <% end %>
      <%= listing.listing_detail.description %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.show-full-listing').click(function() {
      $(this).closest(".well").find(".full-listing").show('blind')
      $(this).hide()
    })

    /*
       $(".reveal-pic").click(function() {
      $(this).closest("li").css({
        'height': 'auto',
        'max-height': '999px'
      })
      $(this).closest(".read-more").remove()
    })
    */

  })
</script>
