<!-- <div class="row-fluid" id="listing<%=listing.id%>">
  <div class="well span8 offset2">
    <h2><%= listing.address %></h2>
    <div class="row-fluid">
      <div class="span3">
        <img src="<%= listing.get_self_map %>" style="width:100%">
      </div>
      <div class="span9">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#">Overview</a>
          </li>
          <li> 
            <a href="#">Description</a>
          </li>
          <li>
            <a href="#">Pictures</a>
          </li>
        </ul>
    <div class="row-fluid">
      <div class="span9 offset3">
      </div>
      <div class="span9 offset3 hidden">
      </div>
      <div class="span9 offset3 hidden">
      </div>
    </div>
      </div>
    </div>


  </div>
</div> -->


<div class="row" id="listing<%=listing.id%>">

  <div class="well well-small span12">
    <h4><%= listing.address %></h4>
    <p>
      <%= pluralize listing.bedrooms, 'bedroom' %><br>
      <% if median %>
        <% if listing.price < median %>
          <span class='text-success'>$<%= listing.price %> / month</span>
        <% elsif listing.price > median %>
          <span class='text-error'>$<%= listing.price %> / month</span>
        <% else %>
          $<%= listing.price %> / month
        <% end %>
      <% else %>
        $<%= listing.price %> / month
      <% end %>
    </p>

    <p>
      <% for tag in listing.tags do %>
        <span class="badge badge-info"><%= tag.name %></span>
      <% end %>
    </p>

    <% if listing.pictures.present? %>
      <div class='row-fluid pictures'>
        <ul class='thumbnails'>
          <% listing.pictures.each_with_index do |picture, index| %>
            <% if index != 0 and index % 6 == 0 %>
              </ul><ul class='thumbnails'>
            <% end %>
            <li class='span2'>
              <%= image_tag picture, onerror: 'imgerror(this);' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to 'Show full listing', 'javascript:void(0);', class: 'show-full-listing' %>
    <div class="hide full-listing">
      <h4><%= listing.info["heading"] %></h4>
      <%= listing.body %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.show-full-listing').click(function() {
      $(this).closest(".well").find(".full-listing").show('blind')
      $(this).hide()
    })

    /*
       $(".reveal-pic").click(function() {
      $(this).closest("li").css({
        'height': 'auto',
        'max-height': '999px'
      })
      $(this).closest(".read-more").remove()
    })
    */

  })
</script>
