<% content_for :sidebar do %>
  <div id="sidebar" class="affix" style="top:41px">
    <br>
    <div class="row-fluid">
      <%= form_tag listings_path, method: "GET", class: "form-inline", style: "margin-bottom:0" do %>
        <% value = nil %>
        <% if @geocoded_address.present? %>
          <% value = @geocoded_address.formatted_address %>
        <% elsif params[:address].present? %>
          <% value = params[:address][0] %>
        <% end %>
        
        <%= text_field "address", nil, placeholder:"Address", value: "#{value}", class: "span9" %>
        <%= number_field "bedrooms", nil, placeholder:"Bedrooms", value: "#{params[:bedrooms][0] if params[:bedrooms].present?}", class: "span3" %>
        <br>
        <h5>Utilities:</h5>
        <label class='checkbox'>
          <%= check_box_tag "tags[water]", 1, (params[:tags].present? and params[:tags]["water"]) %> Water Included
        </label>
        <label class='checkbox'>
          <%= check_box_tag "tags[electric]", 1, (params[:tags].present? and params[:tags]["electric"]) %> Electricity Included
        </label>
        <label class='checkbox'>
          <%= check_box_tag "tags[gas]", 1, (params[:tags].present? and params[:tags]["gas"]) %> Gas Included
        </label>
        <br>
        <h5>Amenities:</h5>
        <label class='checkbox'>
          <%= check_box_tag "tags[hardwood]", 1, (params[:tags].present? and params[:tags]["hardwood"]) %> Hardwood Floors
        </label>
        <label class='checkbox'>
          <%= check_box_tag "tags[patio]", 1, (params[:tags].present? and params[:tags]["patio"]) %> Has a Patio
        </label>
        <label class='checkbox'>
          <%= check_box_tag "tags[fireplace]", 1, (params[:tags].present? and params[:tags]["fireplace"]) %> Has a Fireplace
        </label>
        <br>
        <br>
        <%= submit_tag "GO", class: "btn btn-danger submit-button", style: "width: 100%" %>
        <br>
        <br>
      <% end %>
    </div>
    <% if @listings.where(user_id: current_user.id).present? %>
      <div class="row-fluid">
        <%= render partial: "segments/location", locals: {listings: @listings.where(user_id: current_user.id), segment: @segment, geocoded_address: @geocoded_address} %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @listings.present? %>
  
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <%= render partial: "segments/overview", locals: {segment: @segment} %>
      </div>
      <div class="row-fluid">
        <%= render partial: "segments/utilities_analysis", locals: {utilities: @utilities} %>
      </div>
    </div>
    <div class="span6">
      <%= render partial: "segments/price_distribution", locals: {segment: @segment} %>
    </div>
  </div>

  <% if @geocoded_address.present? %>
    <a href="/listings.pdf?<%= params.to_query %>" class="btn btn-danger">Export As PDF</a>
  <% end %>

  <h3>Listings</h3>

  <!-- Image Load Error -->
  <script type="text/javascript">
    function imgerror(element) {
      $(element).closest('li').remove();
    }
  </script>

  <%= paginate @listings %>

  <% for listing in @listings do %>
    <% if listing.user_id == current_user.id %>
      <%= render partial: "show", locals: {listing: listing, median: @segment.present? ? @segment.median : nil, search_location: @geocoded_address} %>
    <% else %>
      <%=  render partial: "show_obfiscated", locals: {listing: listing, median: @segment.present? ? @segment.median : nil, search_location: @geocoded_address} %>
    <% end %>
  <% end %>
<% else %>
  <h3>
    <i class='icon-warning-sign'></i> No results!
  </h3>
  Unfortunately, we weren't able to find any comparable listings.
  Consider searching again with different options.
<% end %>

<script type="text/javascript">
  $(function() {
    $("ul img").each(function(i, img) {
      var pic_real_width, pic_real_height;
      $("<img/>") // Make in memory copy of image to avoid css issues
      .attr("src", $(img).attr("src"))
      .load(function() {
        pic_real_width = this.width;   // Note: $(this).width() will not
        pic_real_height = this.height; // work for in memory images.
        if((pic_real_width < 250) || (pic_real_height < 250)) {
          $(img).parent().remove();
        }
      })
    })
  })
</script>
