<br>
<div style="text-align:center">
  <%= form_tag listings_path, method: "GET", class: "form-inline" do %>
    
    <%= text_field "address", nil, placeholder:"Address", value: "#{params[:address][0] if params[:address].present?}" %>
    <%= number_field "bedrooms", nil, placeholder:"Number of Bedrooms", value: "#{params[:bedrooms][0] if params[:bedrooms].present?}" %>
    <%= submit_tag "GO", class: "btn btn-danger" %>
    <br>
    <label class='checkbox'>
      <%= check_box_tag "tags[water]", 1, (params[:tags].present? and params[:tags]["water"]) %> Water Included
    </label>
    <label class='checkbox'>
      <%= check_box_tag "tags[electric]", 1, (params[:tags].present? and params[:tags]["electric"]) %> Electricity Included
    </label>
    <label class='checkbox'>
      <%= check_box_tag "tags[gas]", 1, (params[:tags].present? and params[:tags]["gas"]) %> Gas Included
    </label>
    <br>
    <label class='checkbox'>
      <%= check_box_tag "tags[hardwood]", 1, (params[:tags].present? and params[:tags]["hardwood"]) %> Hardwood Floors
    </label>
    <label class='checkbox'>
      <%= check_box_tag "tags[patio]", 1, (params[:tags].present? and params[:tags]["patio"]) %> Has a Patio
    </label>
    <label class='checkbox'>
      <%= check_box_tag "tags[fireplace]", 1, (params[:tags].present? and params[:tags]["fireplace"]) %> Has a Fireplace
    </label>
  <% end %>
</div>
<% if @listings.present? %>
  
  <%= render partial: "segments/overview", locals: {segment: @segment, utilities: @utilities, geocoded_address: @geocoded_address.present? ? @geocoded_address : nil} %>
  <br>

  <h3>Listings</h3>

  <!-- Image Load Error -->
  <script type="text/javascript">
    function imgerror(element) {
      $(element).closest('li').remove();
      console.log('removing failed');
    }
  </script>

  <%= paginate @listings %>

  <% for listing in @listings do%>
    <%= render partial: "show", locals: {listing: listing, median: @segment.present? ? @segment.median : nil} %>
  <% end %>
<% else %>
  <h3>
    <i class='icon-warning-sign'></i> No results!
  </h3>
  Unfortunately, we weren't able to find any comparable listings.
  Consider searching again with different options.
<% end %>

<script type="text/javascript">
  $(function() {
    $("ul img").each(function(i, img) {
      var pic_real_width, pic_real_height;
      $("<img/>") // Make in memory copy of image to avoid css issues
      .attr("src", $(img).attr("src"))
      .load(function() {
        pic_real_width = this.width;   // Note: $(this).width() will not
        pic_real_height = this.height; // work for in memory images.
        if((pic_real_width < 250) || (pic_real_height < 250)) {
          $(img).parent().remove();
          console.log('removing');
        }
      })
    })
  })
</script>
