<h4>Your address was geocoded to:</h4>
<br>
<div class="row-fluid">
  <div class="span3">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x200&*=false&zoom=15&markers=#{@listing.latitude}%2C#{@listing.longitude}&sensor=true" %>
  </div>
  <div class="span3">
    <p>
      <b>Latitude:</b>
      <%= @listing.latitude %>
    </p>

    <p>
      <b>Longitude:</b>
      <%= @listing.longitude %>
    </p>

    <p>
      <b>Bedrooms:</b>
      <%= @listing.bedrooms %>
    </p>

    <p>
      <b>Price:</b>
      <%= @listing.price %>
    </p>

    <p>
      <b>Address:</b>
      <%= @listing.address %>
    </p>
  </div>
</div>
<br>
<h4><%= @analytics %></h4>
<br>
<div class="row-fluid">
  <div class="span12 center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Header</th>
          <th>Price</th>
          <th>Link to Listing</th>
        </tr>
      </thead>
      <tbody>
        <% if @results.present? %>
          <% for listing in @results do %>
            <tr>
              <td><%=listing["heading"]%></td>
              <td>$<%=listing["price"]%></td>
              <td><a href=<%=listing["external_url"]%> target="_blank">Click Here</a></td>
            <tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
