<p id="notice"><%= notice %></p>

<h4><%= @analytics %></h4>
<p>
  <b>Latitude:</b>
  <%= @listing.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @listing.longitude %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @listing.bedrooms %>
</p>

<p>
  <b>Price:</b>
  <%= @listing.price %>
</p>

<p>
  <b>Address:</b>
  <%= @listing.address %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
