<%= form_for(@analysis, :method => "GET", :url => url_for(:controller => 'analyses', :action => 'new'), :html => {:class=>"form-inline"})  do |f| %>
  <% if @analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
      <% @analysis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :address, placeholder:"Address" %>
    <%= f.number_field :bedrooms, placeholder:"Number of Bedrooms" %>
  
    <%= f.submit "Analyze!", class: "btn btn-danger" %>
<% end %>
