<h4>Your address was geocoded to:</h4>
<br>
<div class="row-fluid">
  <div class="span3">
    <% markers = "center=#{@analysis.latitude},#{@analysis.longitude}&markers=color:red|#{@analysis.latitude}|#{@analysis.longitude}&markers=color:blue" %>
    <% for listing in @analysis.listings %>
      <% markers += "|#{@listing.latitude}|#{@listing.longitude}" %>
    <% end %>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x200&*=false&zoom=15&#{markers}&sensor=true" %>
  </div>
  <div class="span3">
    <p>
      <b>Latitude:</b>
      <%= @analysis.latitude %>
    </p>

    <p>
      <b>Longitude:</b>
      <%= @analysis.longitude %>
    </p>

    <p>
      <b>Bedrooms:</b>
      <%= @analysis.bedrooms %>
    </p>

    <p>
      <b>Price:</b>
      <%= @analysis.price %>
    </p>

    <p>
      <b>Address:</b>
      <%= @analysis.address %>
    </p>
  </div>
</div>
<br>
<h4><%= "On #{DateTime.now.strftime("%a, %b %d %Y at %I:%M%p")}, there were #{@analysis.listings.count} similar listings in a #{Analysis::RADIUS} mile radius. The average price of the listings was $#{@analysis.average_price}. You can view some of the lisitings in the table below." %></h4>
<br>
<div class="row-fluid">
  <div class="span12 center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Header</th>
          <th>Price</th>
          <th>Link to Listing</th>
        </tr>
      </thead>
      <tbody>
        <% for listing in @analysis.listings do %>
          <tr>
            <td><%=listing["info"]["heading"]%></td>
            <td>$<%=listing["price"]%></td>
            <td><a href=<%=listing["external_url"]%> target="_blank">Click Here</a></td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_analysis_path(@analysis) %> |
<%= link_to 'Back', analyses_path %>
