<h2 style="text-align:center"><%= "Market Analysis" %></h2>
<br>
<% if @analysis.processed %>
  <div class="row-fluid">
    <div class="span12"> 
      <h3>Overview:</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="well span6">
        <div class="span12">
          <% #"On #{DateTime.now.strftime("%a, %b %d %Y at %I:%M%p")}" %>
          <h4><%= "There are #{@analysis.listings.count} similar listings in a #{Analysis::RADIUS} mile radius." %></h4>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <%= image_tag @analysis.get_listings_map %>
        </div>
      </div>
      <h4>The numbers:</h4>
      <div class="row-fluid">
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Price Range: 
            <br>
            <strong>$<%= @analysis.listing_min %> - $<%= @analysis.listing_max %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-left:0; padding-right:0">
            Average Price: 
            <br>
            <strong>$<%= @analysis.average_median %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average # of Pictures:
            <br>
            <strong><%= @analysis.average_pictures %></strong>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div id="chart_div_all" style="height:400px"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12"> 
      <h3>Lowest Price Bracket:</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="well span6">
        <div class="span12">
          <% #"On #{DateTime.now.strftime("%a, %b %d %Y at %I:%M%p")}" %>
          <h4><%= "Of the similar listings, there are #{@analysis.listings.where("price > ? AND price <= ?", @analysis.listing_min-1, @analysis.listing_first_third).count} in the lowest price bracket." %></h4>
      </div>
      <div class=row-fluid>
        <div class="span12">
          <%= image_tag @analysis.get_low_map %>
        </div>
      </div>
      <h4>The numbers:</h4>
      <div class="row-fluid">
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Price Range: 
            <br>
            <strong>$<%= @analysis.listing_min %> - $<%= @analysis.listing_first_third %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average Price: 
            <br>
            <strong>$<%= @analysis.average_median_first_third %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average # of Pictures:
            <br>
            <strong><%= @analysis.average_pictures_first_third %></strong>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div id="chart_div_first_third" style="height:400px"></div>
    </div>
    <div class="row-fluid">
      <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
        <ul style="position:relative; left:0; top:0; white-space:nowrap">
          <% for image in @analysis.pictures_first_third do %>
            <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12"> 
      <h3>Middle Price Bracket:</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="well span6">
        <div class="span12">
          <% #"On #{DateTime.now.strftime("%a, %b %d %Y at %I:%M%p")}" %>
          <h4><%= "Of the similar listings, there are #{@analysis.listings.where("price > ? AND price <= ?", @analysis.listing_first_third, @analysis.listing_second_third).count} in the middle price bracket." %></h4>
      </div>
      <div class=row-fluid>
        <div class="span12">
          <%= image_tag @analysis.get_middle_map %>
        </div>
      </div>
      <h4>The numbers:</h4>
      <div class="row-fluid">
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Price Range: 
            <br>
            <strong>$<%= @analysis.listing_first_third + 1 %> - $<%= @analysis.listing_second_third %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average Price: 
            <br>
            <strong>$<%= @analysis.average_median_second_third %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average # of Pictures:
            <br>
            <strong><%= @analysis.average_pictures_second_third %></strong>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div id="chart_div_second_third" style="height:400px"></div>
    </div>
    <div class="row-fluid">
      <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
        <ul style="position:relative; left:0; top:0; white-space:nowrap">
          <% for image in @analysis.pictures_second_third do %>
            <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12"> 
      <h3>Highest Price Bracket:</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="well span6">
        <div class="span12">
          <% #"On #{DateTime.now.strftime("%a, %b %d %Y at %I:%M%p")}" %>
          <h4><%= "Of the similar listings, there are #{@analysis.listings.where("price > ? AND price <= ?", @analysis.listing_second_third, @analysis.listing_max).count} in the middle price bracket." %></h4>
      </div>
      <div class=row-fluid>
        <div class="span12">
          <%= image_tag @analysis.get_high_map %>
        </div>
      </div>
      <h4>The numbers:</h4>
      <div class="row-fluid">
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Price Range: 
            <br>
            <strong>$<%= @analysis.listing_second_third + 1 %> - $<%= @analysis.listing_max %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average Price: 
            <br>
            <strong>$<%= @analysis.average_median_third_third %></strong>
          </div>
        </div>
        <div class="span4" style="text-align:center">
          <div class="alert alert-block alert-info" style="border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin-bottom:0; padding-right:0; padding-left:0">
            Average # of Pictures:
            <br>
            <strong><%= @analysis.average_pictures_third_third %></strong>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div id="chart_div_third_third" style="height:400px"></div>
    </div>
    <div class="row-fluid">
      <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
        <ul style="position:relative; left:0; top:0; white-space:nowrap">
          <% for image in @analysis.pictures_third_third do %>
            <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  Loading...<br><br>
  <script>
    $(function() {
      App.Helpers.poll("<%= poll_analysis_path(@analysis) %>", function() {
        location.reload();
      })
    })
  </script>
<% end %>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function imgerror(element) {
    $(element).parent().remove();
  }

  function drawChart() {
    var data_all = google.visualization.arrayToDataTable([
        ['Price', 'Listings'],
        <% min = @analysis.listing_min %>
        <% max = @analysis.listing_max %>
        <% incr = @analysis.determine_incr(min, max) %>
        <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
        ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
        <% end %>
        ]);

    var data_first_third = google.visualization.arrayToDataTable([
        ['Price', 'Listings'],
        <% min = @analysis.listing_min %>
        <% max = @analysis.listing_first_third %>
        <% incr = @analysis.determine_incr(min, max) %>
        <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
        ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
        <% end %>
        ]);

    var data_second_third = google.visualization.arrayToDataTable([
        ['Price', 'Listings'],
        <% min = @analysis.listing_first_third %>
        <% max = @analysis.listing_second_third %>
        <% incr = @analysis.determine_incr(min, max) %>
        <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
        ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
        <% end %>
        ]);

    var data_third_third = google.visualization.arrayToDataTable([
        ['Price', 'Listings'],
        <% min = @analysis.listing_second_third %>
        <% max = @analysis.listing_max %>
        <% incr = @analysis.determine_incr(min, max) %>
        <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)+1).step(incr) do |i| %>
        ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
        <% end %>
        ]);

    var options = {
      title: 'Number of Listings by Price Range',
      hAxis: {title: 'Number of Listings', showTextEvery: 1},
      vAxis: {title: 'Price Range', showTextEvery: 1},
      chartArea:{top:"5%", height:"85%"}
    };

    var chart_all = new google.visualization.BarChart(document.getElementById('chart_div_all'));
    chart_all.draw(data_all, options);

    var chart_first_third = new google.visualization.BarChart(document.getElementById('chart_div_first_third'));
    chart_first_third.draw(data_first_third, options);
    
    var chart_second_third = new google.visualization.BarChart(document.getElementById('chart_div_second_third'));
    chart_second_third.draw(data_second_third, options);

    var chart_third_third = new google.visualization.BarChart(document.getElementById('chart_div_third_third'));
    chart_third_third.draw(data_third_third, options);
  }
</script>
