<% if @analysis.processed and !@analysis.failed %>
  <div id="overview" style="padding-top:30px"></div>
  <h1>Ok, great.</h1>
  <h3>Your analysis is complete. Let's take a look.</h3>
  <br>
  <br>

  <div class="row-fluid">
    <div class="span6">
      <p>
        We looked for <strong><%= @analysis.bedrooms %> bedroom</strong>  apartments 
        within <strong><%= pluralize Analysis::RADIUS, 'mile' %></strong> 
        of <strong><%= @analysis.address %></strong>. 
      </p>
      <p>
        There were <strong><%= @analysis.listings.count %> similar listings</strong>. 
        You can view them on the right (the red pin represents your listing). 
        Here are a few quick facts about these listings:
      </p>
      <table class='table'>
        <tr>
          <td> Total number of listings found </td>
          <td> <%= @analysis.listings.count %> </td>
        </tr>
        <tr>
          <td> Highest price we found </td>
          <td> $<%= @analysis.max_listing_price %> / month </td>
        </tr>
        <tr>
          <td> Lowest price we found </td>
          <td> $<%= @analysis.min_listing_price %> / month </td>
        </tr>
        <tr>
          <td> Average price </td>
          <td> $<%= @analysis.average_median %> / month </td>
        </tr>
        <tr>
          <td> Average number of pictures </td>
          <td> <%= @analysis.average_pictures %> </td>
        </tr>
      </table>
    </div>
    <div class="span6">
      <div id="map_canvas_all" style="height:300px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row-fluid">
    <div class="span6">
      <h3>We put together a cool graph, too.</h3>
      <p>
        On the right, you'll see a graph showing the distribution of prices for these listings.
        Each bar represents a price range, and the size of the bar tells you how many
        listings we found inside that range.
      </p>
    </div>
    <div class="span6">
      <div id="chart_div_all" style="height:400px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <h1>
      To better help you evaluate the market, <br>
      we have further analyzed it by price bracket. <br>
    </h1>
    <div id="low" style="padding-top:30px"></div>
    <h3>
      Let's take a look at the breakdown.
    </h3>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>
        Of the<strong><%= @analysis.listings.count %> similar listings</strong>,
        there are <strong><%= @analysis.listings.where("price > ? AND price <= ?", @analysis.min_listing_price-1, @analysis.first_tertile).count %> similar listings</strong> in the lowest price bracket.
        You can view where they are located to the right (the red pin represents your listing). 
        Here are a few quick facts about this price bracket:
      </p>
      <table class='table'>
        <tr>
          <td> Number of listings </td>
          <td> <%= @analysis.listings.where("price > ? AND price <= ?", @analysis.min_listing_price-1, @analysis.first_tertile).count %> </td>
        </tr>
        <tr>
          <td> Highest price </td>
          <td> $<%= @analysis.first_tertile %> / month </td>
        </tr>
        <tr>
          <td> Lowest price </td>
          <td> $<%= @analysis.min_listing_price %> / month </td>
        </tr>
        <tr>
          <td> Average price </td>
          <td> $<%= @analysis.average_median_first_third %> / month </td>
        </tr>
        <tr>
          <td> Average number of pictures </td>
          <td> <%= @analysis.average_pictures_first_third %> </td>
        </tr>
      </table>
    </div>
    <div class="span6">
      <div id="map_canvas_first_third" style="height:300px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row-fluid">
    <div class="span6">
      <h3>We put together a cool graph, too.</h3>
      <p>
        On the right, you'll see a graph showing the distribution of prices for these listings.
        Each bar represents a price range, and the size of the bar tells you how many
        listings we found inside that range.
      </p>
    </div>
    <div class="span6">
      <div id="chart_div_first_third" style="height:400px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
      <ul style="position:relative; left:0; top:0; white-space:nowrap">
        <% for image in @analysis.pictures_first_third do %>
          <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
        <% end %>
      </ul>
    </div>
  </div>

  <div id="middle" style="padding-top:30px"></div>
  <div class="row-fluid">
    <h3>
      Now let's look at the middle price bracket.
    </h3>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>
        Of the<strong><%= @analysis.listings.count %> similar listings</strong>,
        there are <strong><%= @analysis.listings.where("price > ? AND price <= ?", @analysis.first_tertile, @analysis.second_tertile).count %> similar listings</strong> in the middle price bracket.
        You can view where they are located to the right (the red pin represents your listing). 
        Here are a few quick facts about this price bracket:
      </p>
      <table class='table'>
        <tr>
          <td> Number of listings </td>
          <td> <%= @analysis.listings.where("price > ? AND price <= ?", @analysis.first_tertile, @analysis.second_tertile).count %> </td>
        </tr>
        <tr>
          <td> Highest price </td>
          <td> $<%= @analysis.second_tertile %> / month </td>
        </tr>
        <tr>
          <td> Lowest price </td>
          <td> $<%= @analysis.first_tertile %> / month </td>
        </tr>
        <tr>
          <td> Average price </td>
          <td> $<%= @analysis.average_median_second_third %> / month </td>
        </tr>
        <tr>
          <td> Average number of pictures </td>
          <td> <%= @analysis.average_pictures_second_third %> </td>
        </tr>
      </table>
    </div>
    <div class="span6">
      <div id="map_canvas_second_third" style="height:300px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row-fluid">
    <div class="span6">
      <h3>We put together a cool graph, too.</h3>
      <p>
        On the right, you'll see a graph showing the distribution of prices for these listings.
        Each bar represents a price range, and the size of the bar tells you how many
        listings we found inside that range.
      </p>
    </div>
    <div class="span6">
      <div id="chart_div_second_third" style="height:400px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
      <ul style="position:relative; left:0; top:0; white-space:nowrap">
        <% for image in @analysis.pictures_second_third do %>
          <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
        <% end %>
      </ul>
    </div>
  </div>


  <div id="high" style="padding-top:30px"></div>
  <div class="row-fluid">
    <h3>
      Finally, the upper price bracket.
    </h3>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>
        Of the<strong><%= @analysis.listings.count %> similar listings</strong>,
        there are <strong><%= @analysis.listings.where("price > ? AND price <= ?", @analysis.second_tertile, @analysis.max_listing_price).count %> similar listings</strong> in the upper price bracket.
        You can view where they are located to the right (the red pin represents your listing). 
        Here are a few quick facts about this price bracket:
      </p>
      <table class='table'>
        <tr>
          <td> Number of listings </td>
          <td> <%= @analysis.listings.where("price > ? AND price <= ?", @analysis.second_tertile, @analysis.max_listing_price).count %> </td>
        </tr>
        <tr>
          <td> Highest price </td>
          <td> $<%= @analysis.max_listing_price %> / month </td>
        </tr>
        <tr>
          <td> Lowest price </td>
          <td> $<%= @analysis.second_tertile %> / month </td>
        </tr>
        <tr>
          <td> Average price </td>
          <td> $<%= @analysis.average_median_third_third %> / month </td>
        </tr>
        <tr>
          <td> Average number of pictures </td>
          <td> <%= @analysis.average_pictures_third_third %> </td>
        </tr>
      </table>
    </div>
    <div class="span6">
      <div id="map_canvas_third_third" style="height:300px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row-fluid">
    <div class="span6">
      <h3>We put together a cool graph, too.</h3>
      <p>
        On the right, you'll see a graph showing the distribution of prices for these listings.
        Each bar represents a price range, and the size of the bar tells you how many
        listings we found inside that range.
      </p>
    </div>
    <div class="span6">
      <div id="chart_div_third_third" style="height:400px;text-align:center;">
        <%= image_tag 'loading.gif' %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12" style="position:relative; margin:0 auto; overflow: auto;">
      <ul style="position:relative; left:0; top:0; white-space:nowrap">
        <% for image in @analysis.pictures_third_third do %>
          <li style="display:inline; width:200px; height:200px"><img style="width:200px; height:200px" src="<%= image %>" alt="" onError="imgerror(this);" /></li> 
        <% end %>
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <!-- Image Load Error -->
  <script type="text/javascript">
    function imgerror(element) {
      $(element).parent().remove();
    }
  </script>

  <!-- Google Charts -->
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data_all = google.visualization.arrayToDataTable([
          ['Price', 'Listings'],
          <% min = @analysis.min_listing_price %>
          <% max = @analysis.max_listing_price %>
          <% incr = @analysis.determine_incr(min, max) %>
          <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
          ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
          <% end %>
          ]);

      var data_first_third = google.visualization.arrayToDataTable([
          ['Price', 'Listings'],
          <% min = @analysis.min_listing_price %>
          <% max = @analysis.first_tertile %>
          <% incr = @analysis.determine_incr(min, max) %>
          <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
          ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
          <% end %>
          ]);

      var data_second_third = google.visualization.arrayToDataTable([
          ['Price', 'Listings'],
          <% min = @analysis.first_tertile %>
          <% max = @analysis.second_tertile %>
          <% incr = @analysis.determine_incr(min, max) %>
          <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)).step(incr) do |i| %>
          ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
          <% end %>
          ]);

      var data_third_third = google.visualization.arrayToDataTable([
          ['Price', 'Listings'],
          <% min = @analysis.second_tertile %>
          <% max = @analysis.max_listing_price %>
          <% incr = @analysis.determine_incr(min, max) %>
          <% (@analysis.adjust_min_smart(min, incr)..@analysis.adjust_max_smart(max, incr)+1).step(incr) do |i| %>
          ["<%= "$#{i} - $#{i+incr-1}" %>", <%= @analysis.listings.where("price >= ? AND price < ?", i, i+incr).count %>],
          <% end %>
          ]);

      var options = {
        title: 'Number of Listings by Price Range',
        hAxis: {title: 'Number of Listings', showTextEvery: 1},
        vAxis: {title: 'Price Range', showTextEvery: 1},
        legend: {position: 'none'},
        chartArea:{top:"5%", height:"85%"}
      };

      var chart_all = new google.visualization.BarChart(document.getElementById('chart_div_all'));
      chart_all.draw(data_all, options);

      var chart_first_third = new google.visualization.BarChart(document.getElementById('chart_div_first_third'));
      chart_first_third.draw(data_first_third, options);
      
      var chart_second_third = new google.visualization.BarChart(document.getElementById('chart_div_second_third'));
      chart_second_third.draw(data_second_third, options);

      var chart_third_third = new google.visualization.BarChart(document.getElementById('chart_div_third_third'));
      chart_third_third.draw(data_third_third, options);
    }
  </script>

  <!-- Scrollspy -->
  <script type="text/javascript">
    $('#analysis_navbar').scrollspy();
  </script>

  <!-- Google Maps -->
  <script type="text/javascript">
    function initialize() {
      var analysis_lat_lng = new google.maps.LatLng(<%= @analysis.latitude %>, <%= @analysis.longitude %>);
      var mapOptions = {
        scrollwheel: false,
        center: analysis_lat_lng,
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map_all = new google.maps.Map(document.getElementById("map_canvas_all"), mapOptions);
      var map_first = new google.maps.Map(document.getElementById("map_canvas_first_third"), mapOptions);
      var map_second = new google.maps.Map(document.getElementById("map_canvas_second_third"), mapOptions);
      var map_third = new google.maps.Map(document.getElementById("map_canvas_third_third"), mapOptions);
      var analysis_lat_lng = new google.maps.LatLng(<%= @analysis.latitude %>, <%= @analysis.longitude %>);
      var map_all_bounds = new google.maps.LatLngBounds(analysis_lat_lng, analysis_lat_lng)
      var map_first_bounds = new google.maps.LatLngBounds(analysis_lat_lng, analysis_lat_lng)
      var map_second_bounds = new google.maps.LatLngBounds(analysis_lat_lng, analysis_lat_lng)
      var map_third_bounds = new google.maps.LatLngBounds(analysis_lat_lng, analysis_lat_lng)

      var image = new google.maps.MarkerImage(
        'http://maps.google.com/mapfiles/ms/micons/blue.png',
        new google.maps.Size(32, 32), // size
        new google.maps.Point(0,0), // origin
        new google.maps.Point(16, 32) // anchor
      );

      var shadow = new google.maps.MarkerImage(
        'http://maps.google.com/mapfiles/ms/micons/msmarker.shadow.png',
        new google.maps.Size(59, 32), // size
        new google.maps.Point(0,0), // origin
        new google.maps.Point(16, 32) // anchor
      );

      <% for listing in @analysis.listings %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>),
          map: map_all,
          icon: image,
          shadow: shadow
        });
        map_all_bounds.extend(pos);
      <% end %>
      var marker = new google.maps.Marker({
        position: analysis_lat_lng,
        map: map_all,
      });
      
      <% for listing in @analysis.get_low_listings %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: pos,
          map: map_first,
          icon: image,
          shadow: shadow
        });
        map_first_bounds.extend(pos);
      <% end %>
      var marker = new google.maps.Marker({
        position: analysis_lat_lng,
        map: map_first,
      });
      
      <% for listing in @analysis.get_middle_listings %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>),
          map: map_second,
          icon: image,
          shadow: shadow
        });
        map_second_bounds.extend(pos);
      <% end %>
      var marker = new google.maps.Marker({
        position: analysis_lat_lng,
        map: map_second,
      });
      
      <% for listing in @analysis.get_high_listings %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>),
          map: map_third,
          icon: image,
          shadow: shadow
        });
        map_third_bounds.extend(pos);
      <% end %>
      var marker = new google.maps.Marker({
        position: analysis_lat_lng,
        map: map_third,
      });

      map_all.fitBounds(map_all_bounds);
      map_first(map_first_bounds);
      map_second(map_second_bounds);
      map_third(map_third_bounds);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% elsif @analysis.processed %>
  <center>
    <h2>Damn.</h2>
    <p>That analysis failed for some reason. We've been notified of the issue.</p>
    <p>In the mean time, try starting again from the <%= link_to 'homepage', root_path %>.</p>
    <br>
    <i class='icon-frown icon-4x'></i>
  </center>
<% else %>
  <center>
    <br>
    <h2 class='generating'>Generating analysis</h2>
    <p>For <strong><%= @analysis.address %></strong>.</p>
    <p>This may take up to two minutes.</p>
    <br>
    <div class='action'>
      <%= image_tag 'loading.gif' %>
    </div>
    <br>
    <br>
    <div class='row-fluid'>
    <div class='span8 offset2 '>
      <div class='span8 offset2 well'>
      <h2>While You Wait --</h2>
      <h4>Help Us Make Our Product Better</h4>
      <p>After looking over the analysis, don't hesitate to give us feedback. We recognize that the Rentalyzer has a lot of potential, but wanted to ask you, our users, what new features would be helpful.  So take the time to tell us, we are always looking to improve our service!</p>
      <br>
      <p>Simply click the purple tab at the bottom right of your screen whenever you are done viewing our analysis.</p>
    </div>
    </div>
    </div>
    <i class="icon-large icon-arrow-down" style="font-size:75px;position: fixed;bottom: 40px;right: 80px;"></i>
  </center>
  <script>
    $(function() {
      App.Helpers.poll("<%= poll_analysis_path(@analysis) %>", function() {
        $(".action").html('<%= link_to "Continue to analysis", @analysis, class: "btn btn-primary" %>')
        $(".generating").html('Analysis complete!')
      })
    })
  </script>
<% end %>


<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Rn5kgHKZzgs32a0g7e5XQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'feedback',
    primary_color: '#774fa8',
    link_color: '#696563',
    forum_id: 209863,
    tab_label: 'Tell Us Your Thoughts!',
    tab_color: '#6d458c',
    tab_position: 'bottom-right',
    tab_inverted: false
  }]);
</script>

<script>
  function bounce(){
    a = $("#uvTabLabel");
    //a.animate({ 'padding-bottom': '20', 'padding-top': '20'}, 320, function(){ a.animate({'padding-bottom': '10', 'padding-top': '10'}, 200)});
    a.animate({ 'padding-bottom': '20px'}, 320, function(){ a.animate({'padding-bottom': '2px'}, 200)});
  }

  function bounce_thrice(){
    bounce();
    setTimeout(bounce, 450);
    setTimeout(bounce, 900);
  }

INIT = 5;

    window.onscroll = function (e) {
      wait = INIT;
    }

  // Bounce after period of inactivity
  function inactive_bounce(){
    
    setInterval(function(){ 
      wait--;  
      console.log(wait);
      if(wait == 0) {
        bounce_thrice();
        wait = INIT;
      }
    }, 1000); 
  }

  function expo_bounce(){
    e = 2;
    setInterval(function(){
      wait--;
      console.log(wait);
      if(wait == 0) {
        bounce_thrice();
        wait = INIT * e; 
        e++;
      }
    }, 1000);
  }


</script>

