<div class="span12" style="border-style:solid;border-color:black;border-width:1px">
  <div id="map_canvas_<%= segment.unique_id %>" style="height:300px;text-align:center;">
    <%= image_tag 'loading.gif' %>
  </div>
</div>

<!-- Google Maps -->
<script type="text/javascript">
  function initialize() {
    <% if geocoded_address.present? %>
      var center_lat_lng = new google.maps.LatLng(<%= geocoded_address.geometry["location"]["lat"] %>, <%= geocoded_address.geometry["location"]["lng"] %>);
    <% else %>
      var center_lat_lng = new google.maps.LatLng(<%= listings.first.latitude %>, <%= listings.first.longitude %>);
    <% end %>
    var mapOptions = {
      scrollwheel: false,
      center: center_lat_lng,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false
    };
    var map = new google.maps.Map(document.getElementById("map_canvas_<%= segment.unique_id %>"), mapOptions);
    var map_bounds = new google.maps.LatLngBounds(center_lat_lng, center_lat_lng)

    var image = new google.maps.MarkerImage(
      'http://maps.google.com/mapfiles/ms/micons/blue.png',
      new google.maps.Size(32, 32), // size
      new google.maps.Point(0,0), // origin
      new google.maps.Point(16, 32) // anchor
    );

    var image_two = new google.maps.MarkerImage(
      'http://maps.google.com/mapfiles/ms/micons/yellow.png',
      new google.maps.Size(32, 32), // size
      new google.maps.Point(0,0), // origin
      new google.maps.Point(16, 32) // anchor
    );

    var shadow = new google.maps.MarkerImage(
      'http://maps.google.com/mapfiles/ms/micons/msmarker.shadow.png',
      new google.maps.Size(59, 32), // size
      new google.maps.Point(0,0), // origin
      new google.maps.Point(16, 32) // anchor
    );

    <% for listing in listings %>
      <% if listing.user_id == current_user.id || current_user.admin? %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>),
          map: map,
          icon: image,
          shadow: shadow
        });
        map_bounds.extend(pos);
        google.maps.event.addListener(marker, 'click', function() {
          $('html, body').animate({
            scrollTop: $("<%= "#listing#{listing.id}" %>").offset().top - 70
          });
          $("<%= "#listing#{listing.id}" %>").delay(500).effect("highlight", {color:"#faa732"}, 1000);
        });
      <% else %>
        var pos = new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= listing.latitude %>, <%= listing.longitude %>),
          map: map,
          icon: image_two,
          shadow: shadow
        });
        map_bounds.extend(pos);
      <% end %>
    <% end %>

    <% if geocoded_address.present? %>
      var address_image = new google.maps.MarkerImage(
        'http://maps.google.com/mapfiles/ms/micons/red.png',
        new google.maps.Size(32, 32), // size
        new google.maps.Point(0,0), // origin
        new google.maps.Point(16, 32) // anchor
      );
      var marker = new google.maps.Marker({
        position: center_lat_lng,
        map: map,
        icon: address_image,
        zIndex: 1000,
        shadow: shadow
      });
    <% end %>

    map.fitBounds(map_bounds);
  }
  //google.maps.event.addDomListener(window, 'ready', initialize);
  $(document).ready(function(){
    initialize();
  });
</script>
