<div class="span12">
  <h3>Utilities Analysis</h3>
  <table class='table' style="text-align:center">
    <% for utility in Tag.where(category: "utility") do %>
      <% if !utilities["value_#{utility.name}?"].nil? %>
        <tr>
          <% if utilities["value_#{utility.name}?"] == "increased" %>
            <td> Apartments with <%= utility.display %> had <span style="color:green"><i class="icon-arrow-up"></i> <%= utilities["percent_value_#{utility.name}"] %>%</span> more value </td>
          <% elsif utilities["value_#{utility.name}?"] == "decreased" %>
            <td> Apartments with <%= utility.display %> had <span style="color:red"><i class="icon-arrow-down"></i> <%= utilities["percent_value_#{utility.name}"] %>%</span> less value </td>
          <% elsif utilities["value_#{utility.name}?"] == "equal" %>
            <td> Apartments with <%= utility.display %> included had no change in value</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
