<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body class='<%= @body_class %>'>
    <%= image_tag 'wallpapers/serbia.jpg', class: 'wallpaper' %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

  </body>
</html>
